body{
padding:10%;
font-size:1rem;
background-color:gray;
background-image:url:(images.png);
background-repeat:no repeat;
backgound-size:cover;
}
p{
text-indent:0.5em;
line-height:1.5;
letter-spacing:0.1em;
word-spacing:0.3em;
font-style:oblique;
font-weight:bold;
font-family:
background-color:gray;
font-variant:
}
a{
text-decoration:none;
cursor:progress:
color:yellow;
}
a:visited{
color:red;
}
a:active{
color:yellow;
}
a:hover,a:focus{
color:navy;
}