#ch1{
padding:5%;
background-color:;
background-image:url(download2.jfif);
background-repeat:no-repeat;
background-size:cover;
}
#ch2{
padding:5%;
background-color:;
background-image:url(download3.jfif);
background-repeat:no-repeat;
background-size:cover;
}