#ch1{
padding:10%;
background-image:url(download8.jfif);
background-repeat:no-repeat;
background-size:cover;
height:100%vh;
}
#ch2{
padding:10%;
background-image:url(download10.jfif);
background-repeat:no-repeat;
background-size:cover;
height:100%vh;
}
