body{
padding:10%;
font-size:1rem;
background-image:url(download1.jfif);
background-repeat:no-repeat;
background-size:contain;
}
p{
text-indent:0.5em;
line-height:1.5;
letter-spacing:0.1em;
word-spacing:0.3em;
font-weight:;
font-style:oblique;
font-family:;
font-variant:small-caps;
background-color:;
}
a{
text-decoration:none;
cursor:progress;
color:navy;
}
a:active{
color:blue;
}
a:visited{
color:red;
}
a:hover,a:focus{
color:pink;
}
#g{
height:200vh;
background-color:rgba(255,255,255,0.5);
}
