body{
padding:10%;
font size:1rem;
background-color:gray;
}
p{
text-indent:5em;
line-height:1.5;
letter-spacing:0.1em;
word-spacing:0.3em;
font-weight:bold;
font-style:oblique;
font-variant:small-caps;
}
a{
text-decoration:none;
cursor:progress;
color:navy;
}
a:visited{
color:yellow;
}
a:active{
color:orange;
}
a:hover,a:focus{
color:pink;
}