body{
padding:5%;
font size:1rem
background-color:#808080;
}
p{
text-indent:5em;
line-height:1.5;
letter-spacing:0.1em;
word-spacing:0.3em;
font-weight:bold;
font-style:oblique;
font-family:trade;
background-color:#3e9ec1;
font-variant:small-caps;
}
a{
text-decoration:none;
cursor:progress;
color:blue;
}
a:visited{
color:red;
}
a:active{
color:yellow;
}
a:hover,a:focus{
color:pink;
}
