body{
padding:10%;
font size:1rem;
background-color:#C0673F;
}
p{
text-indent:5em;
line-height:1.5;
letter-spacing:0.1em;
word-spacing:o.3em;
font-weight:bold;
font-style:oblique;
font-family:algerian;
font-variant:small-caps;
}
a{
text-decoration:none;
cursor:help;
color:blue;
}
a:visited{
color:red;
{
a:active{
color:navy;
}

